<!DOCTYPE html>
<body>
    <h3>Recommend me a film</h3>
    <form action="/" method="post">
        <input type="text" name="film" placeholder="Enter a film" required />
        <input type="submit" value="Select" />
    </form>
    {% if result %}
    <br>
    <div>Similar films to {{ result[0] }} are:
        <ul>
            {% for i in range(result[1]|length) %}
                <li>{{ result[1][i].choices[0].text }}</li>
                <br>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</body>